.Tag {
  list-style-type: none;
  color: var(--white-primary-color);
  border: thin solid var(--red-secondary-color);
  border-radius: 25px;
  padding: 0 0.5rem 0.2rem;
  cursor: pointer;
  font-weight: 600;
  display: inline;
  transition: all var(--transition-time);
}

.movie-tag-bg-red {
  background-color: var(--red-secondary-color);
  transition: all var(--transition-time);
}

.Filter {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.filter-left {
  min-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
.filter-right {
  max-width: 60%;
  padding: 1rem;
  display: flex;
  flex-flow: wrap;
}
.filter-right .Tag {
  margin-right: 0.5rem;
}

.Filter .filter-inputs {
  display: flex;
  gap: 1rem;
}
