.Dashboard {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--black-secondary-color);
}

.Dashboard .dashboard-content {
  display: flex;
  background-color: var(--black-secondary-color);
}
